<section class="mainSection">
  <div class="header">
    <h1>Productos en tiempo real</h1>
    <a href="/" class="realTimeView">
      <button type="button">Volver al home</button>
    </a>
  </div>
  <h2>Agregar producto</h2>
  <form id="add-product-form">
    <input type="text" id="title" placeholder="Título" required />
    <input type="text" id="description" placeholder="Descripción" required />
    <input type="number" id="price" placeholder="Precio" required />
    <input type="text" id="thumbnail" placeholder="Thumbnail" />
    <input type="text" id="code" placeholder="Código" required />
    <input type="number" id="stock" placeholder="Stock" required />
    <button type="submit">Agregar</button>
  </form>

  <h2>Lista de productos</h2>
  <h2 id="product-count">Total de productos: 0</h2>
  <div id="product-list" class="realtime-productos">

  </div>
  <footer>© copyright 2024 - Mariano Pisano</footer>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/realtime.js"></script>
</section>