<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <!-- Tu CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <aside>
        <header>
          <h1 class="logo">My eCommerce</h1>
        </header>
        <nav>
          <ul class="menu">
            <li>
              <button id="todos" class="boton-menu boton-categoria active"><i class="bi bi-hand-index-thumb"></i>Todos los productos</button>
            </li>
            <li>
              <button id="moldes" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Moldes</button>
            </li>
            <li>
              <button id="chocolates" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Chocolates</button>
            </li>
            <li>
              <button id="aromatizantes" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Aromatizantes</button>
            </li>
            <li>
              <button id="espatulas" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i>Espatulas</button>
            </li>
            <li>
              <a class="boton-menu boton-volver disable" href="/"><i class="bi bi-arrow-return-left"></i>Seguir comprando</a>
            </li>
            <li>
              <a id="boton-carrito" class="boton-menu boton-carrito" href="/"><i class="bi bi-cart-fill"></i>Carrito <span id="numerito" class="numerito">0</span></a>
            </li>
            <li>
              <a href="/realTimeProducts"><i class="bi bi-cart-fill"></i>Vista RealTime </a>
            </li>
          </ul>
        </nav>
        <div id="carrito-contenido" class="carrito-contenido disable">
          <h3>Tu Compra</h3>
          <div class="carrito-contenido-items">
            <label>Items:</label>
            <span id="carrito-contenido-cantidad" class="carrito-contenido-cantidad">2</span>
          </div>
          <div class="carrito-contenido-total">
            <label>Total: </label>
            <span id="carrito-contenido-precio" class="carrito-contenido-precio">$ 2000</span>
          </div>
        </div>
        <footer>© copyright 2024 - Mariano Pisano</footer>
      </aside>
      {{{body}}}
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>